.footer {
  display: flex;
  width: auto;
  height: 60px;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
  .footer__contenedorbotones {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  p {
    font-size: 15px;
  }
}
